.detail-img {
    width: 33%;
    float: left;
    padding: 10px;
    margin-top: -30px;
}

#details-list {
    color: blue;
    clear: both;
}

#subordinates #reports-list a {
    font-weight: 700;
    text-decoration: none!important;
    padding: 0;
}

#reports-list img {
    width: 25%;
    float: left;
    padding-right: 10px;
    margin: 0;
}